:host{
    display: flex;
    height: 5em;
    width: 100%;
    border-bottom: 1.5px solid gray;
    background-color: lightgray;
}
p{
    width: 100%;
    text-align: center;
    padding-top: 2em;;
}