:host{
    display: flex;
    height: 3.5em;
    width: 100%;
    border-top: 1.5px solid gray;
    background-color: lightgray;
}
p{
    padding-top: 1em;;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 1em;
}